ros_ws/build/
ros_ws/devel/
ros_ws/src/CMakeLists.txt
.DS_Store
*.pyc
*~
*.mexa64
# james's symlinks :)
cfs.yaml
firm
client
launch # ignore launch symlink
!*ros_ws/*launch* # don't ignore folders with launch in the name
ros_ws/src/crazyflie-firmware/src/modules/src/collision_avoidance.o
ros_ws/src/crazyflie-firmware/src/modules/src/planner.o
ros_ws/src/crazyflie-firmware/src/modules/src/pptraj_compressed.o
ros_ws/src/crazyflie-firmware/src/modules/src/pptraj.o
